:root {
    --light-blue: #1890ff;
    --side-nav-hover: #fb3640;
    --charcoal: #4a4a4a;
    --page-background: #e2e2e2;
    --page-margin: 6rem;
    --mobile-page-margin: 2.5rem;
}

// convert this to @forward
