.ProjectBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    padding: 5rem;
    color: white;

    &:nth-of-type(1) {
        background-color: #22577a;
        // background-color: #8744a5;
    }
    &:nth-of-type(2) {
        background-color: #38a3a5;
    }
    &:nth-of-type(3) {
        background-color: #57cc99;
    }
    &:nth-of-type(4) {
        background-color: var(--charcoal);
    }

    h4 {
        color: white;
        font-size: 1.5rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 26px;
    }
    .zoomOverImage {
        text-align: center;
        overflow: hidden; /* [1.2] Hide the overflowing of child elements */

        img {
            transition: transform 0.5s ease;
        }

        &:hover img {
            transform: scale(1.2);
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;

        .techStack {
            display: flex;
            grid-gap: 1rem;
            font-size: 1.8rem;

            svg:hover {
                color: var(--light-blue);
            }
        }

        a {
            font-size: 1.5rem;
        }
    }
}
