.Career {
    background-color: #f4f3f3;
    padding: 5rem;

    h3 {
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 1.5rem;
        color: var(--charcoal);
    }

    .job {
        font-weight: bold;
    }

    .duration {
        font-size: 0.75rem;
        font-weight: bold;
        color: #796e6e;
    }
}

.projectBlock {
    margin: 1rem;
    display: flex;
    flex-direction: column;

    h4 {
        text-decoration: underline;
        font-weight: bold;
    }

    .info {
        margin-top: 0.5rem;
        color: var(--charcoal);
        font-style: italic;
        font-weight: 500;
        opacity: 0.75;
    }
}
